.back-blue{
    background-color: rgb(3, 3, 29);
}

.back-green{
    background-color: rgb(1, 135, 73);
}

.back-yellow{
    background-color: rgb(253, 225, 0);
}

.back-black{
    background-color: black;
}

.back-samp-blue{
    background-color: rgb(27, 84, 151);
}

.back-samp-red{
    background-color: rgb(194, 23, 24);
}

.back-milan-red{
    background-color: rgb(251, 9, 11);
}